.header {
   grid-area: h;
   background-color: aquamarine;
   display: flex;
}

.logo__container {
   display: flex;
   align-items: center;
   width: 15%;
   height: 100%;
}

.header_img {
   padding-left: 5%;
   height: 60%;
   opacity: 54%;
}

.switch_img {
   width: 60px;
   height: auto;
   cursor: pointer;
   margin-left: 80%;
}

