.item {
   color: green;
   font-size: 16px;
   
   display: flex;
   margin-bottom: 7px;
   width: 100%;
   height: auto;
   align-items: center;
}

.item:nth-child(even) {
   color: goldenrod
}

.img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.topic__item {
   padding: 4px 4px;
}

.likesCount {
   display: inline-flex;
   align-items: center;
   color: azure;
   padding-left: 7px;
}

.icon_click {
   width: 20px;
   height: 20px;
   padding: 0 5px;
      cursor:pointer;   
      
      opacity: 30%;
      transition: ease-out 3s;
}

.icon_click:hover {
opacity: 100%;
transform: scale(1.2);
transition: all ease-in .2s;
}


