/* .logo {
  width: 100px;
  height: 50px;
} */

.app-wrapper {
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 0 auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  /* grid-gap: 10px */
}

.content {
  grid-area: c;
  background-color: cornflowerblue;
  margin: 15px 0 0 15px;
}

.banner {
  width: 100%;
  height: auto
}